
/* offer */
.offer {
    margin-block-end: 6.4rem;
}
.offer .main-section-text {
    margin-block-end: 3.75rem;
}
.offer-card {
    padding-inline: 1.4rem;
    padding-block: 43px;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 1.5rem;
}

.offer-card + .offer-card {
    margin-block-start: 5.125rem;
}

.offer-card-img {
    width: 67px;
    height: 67px;
    border-radius: 1rem;
    padding: 22px 18px 21px 19px;
    margin-block-end: 2.1875rem;
}

.pen {
    background-color: #2D9CDB;
}
.code {
    background-color: #27ae60;
}
.server {
    background-color: #eb5757;
}

.offer-card-main-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    line-height: 2;
    margin-block-end: 1.5rem;
}

.offer-card-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #4f4f4f;
    margin-block-end: 1.875rem;
}

.offer-button {
    background-color: #2D9CDB;
    color: #fff;
    border-radius: .75rem;
    padding: .5625rem .75rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    height: 2.625rem;
}

/* design */
.design {
    margin-block-end: 6.25rem;
}
.design .main-section-text {
    margin-block-end: 3rem;
}

.card-img , .card-img img{
    border-radius: .75rem;
}

.card + .card {
    margin-block-start: 2.5rem;
}
.title {
    font-size: .75rem;
    line-height: 1.1;
    color: #828282;
    font-weight: 300;
}
.name {
    color: #333333;
    font-weight: 500;
    font-size: 1.125rem;
}
.more {
    display: block;
    margin-block-start: 2.1875rem;
}
.more a {
    color: #2D9CDB;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
}
.more-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-inline-start: 8px;
}


/* team */
.team {
    margin-block-end: 6.25rem;
}
.team-red {
    color: #EB5757;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
}
.team-intro .main-section-text {
    padding: 0;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.5;
    color: #333333;
    margin-block-end: .875rem;
}
.team-text {
    color: #4f4f4f;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    margin-block-end: 2.25rem;
}

.team-img-container, .team-img-container img {
    border-radius: 1.5rem;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    height: 320.69px;
    width: 349.32px;
    margin: 0 auto;
}
.team-one {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 144.76px;
    height: 144.76px;
}
.team-two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 162.25px;
    height: 167.03px;
    margin-block-start: -6.5rem;
}
.team-three {
    grid-column: 1 / 2;
    width: 178.16px;
    margin-block-start: 45%;
    margin-inline-start: -.5rem;
    height: 178.16px;
}


/* comment */
.comment {
    margin-block-end: 6.25rem;
}
.quote {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333333;
    margin-block-end: 1.6875rem;
}
.id.flex {
    display: flex;
}
.id-img {
    width: 82px;
    height: 82px;
    background-color: #c4c4c4;
    border-radius: .75rem;
    margin-inline-end: 1.875rem;
}
.id-img img {
    border-radius: .75rem;
}
.id-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
    line-height: 1.5;
    margin-block-end: .75rem;
}

.id-pos {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    color: #828282;
}


